.html{
  color-scheme: dark;
}
.App {
  margin:30px;
  text-align: center;
}

.navbar {
  background-color: grey;
  margin: 0px;
}

.navBtn {
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:10px 10px 10px 10px;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',
  sans-serif;
  font-weight:300;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.2s;
}

.navBtn:hover {
  color:#000000;
  background-color:#FFFFFF;
}

.bookContainer {
   display: flex;
   justify-content: space-between;
   flex-direction: row;
   flex-wrap: nowrap;
   width: 100%
  }

/* .container {
  display: flexb
} */

.bookCard {
  margin: 15px;
  border: solid rgba(0, 0, 100, 0.8) 5px;
  width: 300px;
  height: 600px;
  justify-content: center;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: white;
}

.bookCard:hover {
  box-shadow: 8px 28px 50px rgba(39, 44, 49, .5), 1px 6px 12px rgba(39, 44, 49, .04);
  transition: all .4s ease;
  transform: scale(1.05)
  
}
.bookImage {
  padding: 10px;
  max-width: 80%;
  max-height: auto;
}

.genreBarContainer{
  display: grid;
  flex-direction: row;
  background-color: oldlace;
}

.genreBar {
  
}



/* .moreButton {
  height: 20px;
  width: 30px;
  text-align: center;
  margin: auto;
}

.fit {
  margin: auto;
  height: 150px;
  width: 100px;
}  */