body,
html {
  height: 100%;
  text-align: center;
  font-size: 40px;
  font-family: Ubuntu, sans-serif;
  padding-top: 40px;
}

.App {
  margin:30px;
  text-align: center;
}

/* NAVBAR SECTION */
.navbar {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  box-shadow: 0 0 25px 0 black;
  background-color: white;
  margin: 0px;
  height: 40px;
}

.navLinks {

}

.logOutLink{
  
}

.navLogo{
  font-family: Oxygen, sans-serif;
}

.navBtn {
  border: 0;
  margin: 20px;
  font-size: 18px;
  border-radius: 3px;
  font-family: Oxygen, sans-serif;
  margin-top: 20px;
  transition: background-color 0.3s ease-out;
  cursor: pointer;
} 

.navBtn:hover,
.navBtn:focus {
  color: black;
} 

/* GENREBAR SECTION */

.genreBar{
  display: grid;
  /* grid-template-columns: 9fr 1fr; */
  grid-template-rows: auto;
}
.genreBar h1 {
  display: block;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  border: black solid 1px;
}

.genreBarGrid{
  display: grid;
  grid-template-columns: 18fr 1fr;
  justify-content: center;
  align-items: center;
}

.moreButton{
  font-size: 35px;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  color: white;
  display:inline;
  flex-direction: column;
  justify-content: center;
  height: 10%;
  width:75%;
  padding: 10px;
  
}

.moreButton:hover,
.moreButton:focus {
  font-size: 35px;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  outline: none;
}

.bookContainer {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  padding-right: 10px;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%
}

/* CARD STYLING */

.bookCard {
  width: 230px;
  height: 390px;
  display: grid;
  grid-template-rows: 80% 20%;
  box-shadow: 0 0 20px #aaa;
  margin: 10px;
  padding: 10px 10px 0px 10px;
  background-color: rgba(0, 0, 0, 0.7)
}

.cover {
  border: 2px solid gray;
  height: 100%;
  overflow: hidden;
}

.bookCard:hover {
  
  transition: .5s all;
  transform: scale(1.05);
  box-shadow: 8px 28px 50px rgba(39, 44, 49, .5), 1px 6px 12px rgba(39, 44, 49, .04);
}

.cover img {
  width:100%;
  visibility: visible;
}

.lowerBoxContainer {
 display: grid;
 grid-template-columns: 1fr 4fr;
 padding: 10px 2px 10px 2px;
}

.rankBox {
  /* border: grey solid 2px; */
  /* padding: 10px; */
  background-color: rgba(0, 0, 0, .8);
  float: left;
  color: white;
}

.chartPosition {
  font-size: large;
  font-weight: bolder;
  padding: 4px;
}

.buttonBox{
  margin-left: 10px;
  justify-content: center;
  align-items: center;
}

.abtBtn {
   display: flex;
   width: 100%;
   height: 100%;
   background: #4E9CAF;
   text-align: center;
   justify-content: space-around;
   align-items:center ;
   color: white;
   font-weight: bold;
}

/* MORE INFO STYLING */

.highlightContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 90% 10%;
  column-gap: 10%;
  margin: 40px;
  
}

.highlightLeft {
  margin: 10px;
  padding: 20px;
  border:black solid 1px;
  background-color: rgba(0, 0, 0, 0.7);
  color:white;
}

.highlightLeft img{
  border: 2px solid gray;
}

.highlightRight {
  background-color: rgba(255, 255, 255, 0.96);
  margin: 10px;
  padding-top: 20px;
  display: grid;
  grid-template-rows: 20% 10% 65% 15%;
}

.description{
  font-style: italic;
  text-align: left;
  justify-content: left;
  align-items: left;
  margin-left: 40px;
  margin-right: 40px;
  }

.bookReviews{
  display: flex;
  flex-direction: column;
  margin: 40px;
  text-align: left;
  justify-content: left;
  align-items: left;
}
.commenter {
  font-weight: bold;
}

.bookTitle {
  font-weight: bold;
}

.reviewBtn {
  height: 40px;
  width: 200px;
  background: #4E9CAF;
  text-align: center;
  justify-content: space-around;
  align-items:center;
  color: white;
  font-weight: bold;
  outline: none;
}

.reviewBtn:hover,
.reviewBtn:focus {
  background: white;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  color: #4E9CAF;
  font-weight: bold;
  outline: none;
}


.reviewForm {
  display: flex;
  float: right;
  width: 100%;
}

.submitFormBtn {
  background: #4E9CAF;
  text-align: center;
  justify-content: space-around;
  align-items:center;
  color: white;
  font-weight: bold;
}

.submitFormBtn:hover {
  background: white;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  color: #4E9CAF;
  font-weight: bold;
  outline: none;
}

.highlightBottomRight {
  display: flex;
  margin: 20px;
}

.buyLinks{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.buyLinks a:hover {
  color: black;
}

.addBtn {
   margin-top: 20px;
   width: 80%;
   height: 100%;
   background: #4E9CAF;
   text-align: center;
   justify-content: space-around;
   align-items:center;
   color: white;
   font-weight: bold;

}

.addBtn:hover {
  color:black;
  outline: none;
}

.userAbtBtn {
  display:inline-flex;
   width: 60%;
   height: 100%;
   background: #4E9CAF;
   text-align: center;
   justify-content: space-around;
   align-items:center ;
   color: white;
   font-weight: bold;
}

.userRmvBtn {
  display:inline-flex;
   width: 20%;
   height: 100%;
   background: #4E9CAF;
   z-index: 2;
   text-align: center;
   justify-content: space-around;
   align-items:center ;
   color: white;
   font-weight: bold;
}

.userBookContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}