body,
html {
  height: 100%;
  text-align: center;
  font-size: 40px;
  font-family: Ubuntu, sans-serif;
}

.App {
  margin:30px;
  text-align: center;
}

.navbar {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 25px 0 black;
  background-color: white;
  margin: 0px;
  height: 40px;
}

.navBtn {
  background-color: #417cef;
  border: 0;
  margin: 20px;
  font-size: 18px;
  border-radius: 3px;
  font-family: Oxygen, sans-serif;
  background-color: rgba(15, 15, 15, 0.03);
  margin-top: 20px;
  border: 2px solid #417cef;
  transition: background-color 0.3s ease-out;
  cursor: pointer;
} 

.navBtn:hover,
.navBtn:focus {
  background-color: #417cef;
  color: white;
} 

.bookContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%
}

.bookCard {
  font-family: sans-serif;
  display: inline-block;
  width: 230px;
  height: 390px;
  box-shadow: 0 0 20px #aaa;
  margin: 25px;
  padding: 10px 10px 0 10px;
  vertical-align: top;
  transition: height 1s;
  background-color: rgba(0, 0, 0, 0.7)
  
}

.bookCard .author {
  font-size: 15px;
}

.bookCard p {
  margin-top: 12px;
  font-size: 20px;
}

.cover {
  border: 2px solid gray;
  height: 80%;
  overflow: hidden;
}

.cover p {
  position: relative;
  visibility: visible;
}

.bookCard:hover {
  transition-delay: 1s ;
  transition: .5s all;
  transform: scale(1.05);
  box-shadow: 8px 28px 50px rgba(39, 44, 49, .5), 1px 6px 12px rgba(39, 44, 49, .04);
}

.cover img {
  width:100%;
  visibility: visible;
}

